*{margin:0;padding:0;}
body{min-height:100%;color:#FFF;}
body{font-family:'Roboto', sans-serif;font-size:12px;background-color:#000;background-size:cover;width:100%;overflow-x:hidden;}
h1,h2,h3,h4,h5{font-family:'Roboto Condensed', sans-serif;margin:0;padding:0;}
div,section,article{box-sizing:border-box;}
.details{background-color:rgba(20, 20, 20, .95);position:absolute;z-index:9;top:325px;width:calc(100% - 30px);bottom:0;opacity:0;transition:opacity ease-in-out 300ms;overflow:hidden;-moz-user-select:none;user-select:none;pointer-events:none;}
.details .content{padding:20px;text-align:center;}
.details .content img{width:28px;height:auto;}
.daily:nth-child(3),.daily:nth-child(5){padding-left:0;}
article,section{display:block;}
*{margin:0;padding:0;}
a{text-decoration:none;transition:color 350ms ease-out;list-style:none;}
img{max-width:100%;}
.btn,.btn-close{font-size:10px;border:solid 1px #333;color:#666;cursor:pointer;text-decoration:none;}
.btn:hover,.btn-close:hover,.btn-close:focus,.btn:focus{background-color:rgba(0,0,0,.5);color:#666;box-shadow:none;}
.race{background-color:rgba(20, 20, 20, .9);border-radius:2px;box-shadow:0 5px 10px rgba(0, 0, 0, .7);color:#B7B7B7;}
.race .title h3{text-align:right;text-transform:uppercase;font-size:20px;font-weight:700;text-shadow:0 0 3px #000;}
.carClass h2{font-size:52px;margin:200px 0 0;font-weight:700;text-shadow:2px 2px 0 #000;line-height:52px;}
.track{font-size:16px;}
.track-image{height:325px;padding:10px 20px 20px;background-size:cover;color:#FFF;position:relative;background-position:center;}
h4{color:#FFF;font-size:18px;}
h5{color:#FFF;font-size:36px;font-weight:700;}
h6{color:#FFF;font-size:24px;margin-top:10px;font-weight:700;}
h6 span{font-size:14px;}
.race-entry{position:absolute;background-color:rgba(0,0,0,.8);border-radius:30px;padding:5px 10px;}
.race-entry span{color:#00d95a;font-size:30px;position:absolute;top:-7px;}
.race-info{padding:20px;text-align:center;}
.start-time,.race-info-details{margin:0 -20px;}
.start-time .col-8{text-align:left;}
.start-time .col-8,.start-time .col-4{border-bottom:solid 1px #333;padding:0 20px 20px 20px;}
.start-time .col-4{padding-left:0;}
.race-info-details .col-3,.race-info-details .col-4,.race-info-details .col-5{padding-top:20px;}
@media (max-width: 1200px){
.carClass h2{font-size:44px;}
}
/* this is mine! */

@font-face {
  font-family: 'GTseriesFont';
  src:
    url('../font/GTseriesFont-Num-001.eot')   format('eot'),
    url('../font/GTseriesFont-Num-001.woff2') format('woff2'),
    url('../font/GTseriesFont-Num-001.woff')  format('woff'),
    url('../font/GTseriesFont-Num-001.ttf')   format('truetype');
}


body {background-color: #333;}
body.dimmed {opacity: .5;}

.left { float: left;}
.right { float: right;}
.hidden {display:none;}

section {
	margin-bottom: 15px;
}
div#pagecontent {
    position: relative;
    width: 1024px;
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}
div#timecontainer {
	position: absolute;
	left: 50%;
	top: -5px;
	transform: translateX(-50%);
	z-index: 100;
	border-radius: 5px;
	overflow: hidden;
}
div#timecontainer h2 {
	margin: 0;
	font-size: 3.5rem;
	background: #EEEEEE;
	color: #212121;
	padding: 0px 15px;
}
div#timecontainer p {
  display: none;
}
div#robcontainer {
width: 100%;
margin: 0 auto;
position: relative;
top: 10px;
display: inline-block;
}
.track-image { height: 190px; }
.carClass h2 {margin: 70px 0 0 0;}
.race-info {padding: 10px 20px 0 20px;}
.start-time .col-8, .start-time .col-4 {
    border-bottom: solid 1px #333;
    padding: 0px 20px 10px 20px;
}
.race-info-details .col-3, .race-info-details .col-4, .race-info-details .col-5 {
    padding-top: 5px;
}

.infopanel {
color: #fff;
}
div.infopanel ul {
	display: inline-block;
	list-style-type: none;
	background-color: rgba(51, 51, 51, 0.33);
	border-radius: 2px;
	box-sizing: border-box;
	height: 225px;
	padding-bottom: 10px;
}
div.infopanel ul li {
	width:50%;
	float: left;
	list-style-type: none;
	padding: 5px 0 0 0;
	text-align: center;
}
.infopanel ul li.infopanel-header {
font-size: 18px;
font-weight: 700;
border-bottom: 1px solid #333;
padding: 5px 10px 20px 10px;
width: 100%;
display: flex;
align-items: center;
}
.infopanel ul li h2 {
	font-size: 18px;
	margin-left: 20px;
	text-align: left;
}
.infopanel ul li h2 span {
	font-size: 32px;
	color: #fff;
	text-shadow: 2px 2px 0 #000;
}
.infopanel ul li.infopanel-header img {
	border-radius: 50%;
	border: 2px solid #fff;
}
.statpoints {color: #fff;}
.ico_RACE {
	color: #fff;
	line-height: 44px;
}
.ico_DR {
  font-family: 'GTseriesFont';
  background: url('../img/ico_dr.svg') no-repeat center 0px;
      background-size: auto auto;
  background-size: 60px;
  height: 50px;
  font-size: 26px;
  color: #fff;
  line-height: 35px;
}
.ico_SR {
    font-family: 'GTseriesFont';
    background: url('../img/ico_sr.svg') no-repeat center 0px;
        background-size: auto auto;
    background-size: 60px;
    height: 50px;
    font-size: 26px;
    color: #fff;
    line-height: 20px;
}
span#open {
	display: none;
}

div.graph { padding-left: 0; }
div.graph .highcharts-container { background: rgba(51,51,51,0.25); }
div.graph .highcharts-background { fill: transparent; }
div.graph .highcharts-title {
	font-family: "Roboto",sans-serif !important;
	font-size: 24px !important;
	color: #fff !important;
}
div.graph .highcharts-title span.chartTitle {
    font-family: 'GTseriesFont';
    color: #fff!important;
    font-size: 26px!important;
}
.highcharts-credits {display: none;}
