html,body {
	font-size: 16px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin: 0;
	padding: 0;
	background: #333;
	background: #fff;
	color: #333;
}
ul,li {
	list-style: none;
	padding: 0;
}
.left { float: left;}
div#pagecontent {
	width: 1024px;
	max-width :100%;
	height: 600px;
	margin: 0 auto;
	background: #333;
	padding: 0 5px;
	box-sizing: border-box;
	overflow: hidden;
}
div.col.width33 {
	width: 33.33333%;
	margin: 10px 0;
	padding: 0 5px;
	box-sizing: border-box;
}
div.col > div {
	border-radius: 3px;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}
h2 {
    color: #333;
    font-weight: 100;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

div#timecontainer {
    background: #333;
		color: #fff;
		height: 308px;
}
div#timecontainer h2 {
	color: #fff;
	font-size: 5rem;
	margin: 25px 0 0 0;
	padding: 0;
}
div#timecontainer p {
	text-align: center;
  font-size: 1.5rem;
	margin: 0 0 25px 0;
}


div#insidecontainer {
    background: #8bc34a;
		color: #000;
}
div#insidecontainer h3 {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin: 8px 5%;
    padding: 1px 0 20px 0;
    display: inline-block;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    width: 90%;
    box-sizing: border-box;
}
div#insidecontainer h3.temp {
    font-size: 3.5rem;
}
div#insidecontainer h3:last-child {
    border-bottom: none;
}
div#insidecontainer small {
	display: block;
	clear: both;
	font-size: 1.15rem;
}


div#chartcontainer {
    background: #fff;
    height: 300px;
}


div#weathercontainer {
    background: #FFC107;
		color: #000;
}

div#forecastcontainer {
    background: #00bcd4;
		color: #000;
		height: 580px;
}
time {
	text-align: center;
	display: block;
	font-size: 2.75rem;
	line-height: 2rem;
	padding-bottom: 0px;
	margin-top: 10px;
}
time i { margin-left: 20px; }
time small {
	display: block;
	font-size: 1.5rem;
	text-transform: uppercase;
}
div#weathercontainer ul {
  font-size: 1.15rem;
  line-height: 2rem;
	display: inline-block;
}
div#weathercontainer ul li,
div#forecastcontainer ul li {
	padding: 0 10px;
	box-sizing: border-box;
}
div#weathercontainer ul li {
    width: 50%;
    float: left;
}
div#weathercontainer ul li:nth-child(even) {
    border-left: 1px dashed rgba(0, 0, 0, 0.15);
}
div#forecastcontainer ul.forecast-day {
    width: 90%;
    clear: both;
    display: inline-block;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    margin: 0 5%;
}
div#forecastcontainer ul.forecast-day:last-child {
	border-bottom: 0;
	margin-bottom: 15px;
}
div#forecastcontainer ul li.text {
	width: 80%;
	line-height: 26px;
}
div#forecastcontainer ul li.text span {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div#forecastcontainer ul li.icon {
	width: 20%;
	font-size: 2rem;
	line-height: 3rem;
	text-align: right;
	position: relative;
}
div#forecastcontainer ul li.icon small {
    position: absolute;
    bottom: -4px;
    right: 0;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
}
