html,body {
	font-size: 16px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin: 0;
	padding: 0;
	background: #333;
	background: #fff;
	color: #333;
}
ul,li {
	list-style: none;
	padding: 0;
}
.left { float: left;}
div#pagecontent {
	width: 1024px;
	max-width :100%;
	height: 100vh;
	margin: 0 auto;
	background: #333;
	padding: 0 5px;
	box-sizing: border-box;
	overflow: hidden;
}
div.col.width33 {
	width: 33.33333%;
	margin: 10px 0;
	padding: 0 5px;
	box-sizing: border-box;
}
div.col > div {
	border-radius: 3px;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}
h2 {
    color: #333;
    font-weight: 100;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}
div#timecontainer {
    background: #fff;
		color: #000;
}
div#timecontainer h2 {
	font-size: 5rem;
	margin: 25px 0 0 0;
	padding: 0;
}
div#timecontainer p {
	text-align: center;
  font-size: 1.5rem;
	margin: 0 0 25px 0;
}
div#insidecontainer {
    background: #8bc34a;
		color: #000;
}
div#weathercontainer {
    background: #FFC107;
		color: #000;
}
div#forecastcontainer {
    background: #00bcd4;
		color: #000;
}
time {
  text-align: center;
  display: block;
  font-size: 2.5rem;
  padding-bottom: 0px;
}
time i { margin-left: 20px; }
div#weathercontainer ul {
  font-size: 1.15rem;
  line-height: 2rem;
}
div#weathercontainer ul li,
div#forecastcontainer ul li {
	padding: 0 10px;
	box-sizing: border-box;
}
div#forecastcontainer ul.forecast-day {
    width: 90%;
    clear: both;
    display: inline-block;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    padding: 5px 0;
    margin: 0 5%;
}
div#forecastcontainer ul.forecast-day:last-child {
	border-bottom: 0;
	margin-bottom: 15px;
}
div#forecastcontainer ul li.text {
	width: 75%;
	line-height: 26px;
}
div#forecastcontainer ul li.icon {
	width: 25%;
	font-size: 26px;
	line-height: 52px;
	text-align: right;
}
/*div#weathercontainer ul li:nth-child(even) {
	background: #444;
}*/
