html,body {
	font-size: 16px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin: 0;
	padding: 0;
	background: #333;
	color: #333;
}
ul,li {
	list-style: none;
	padding: 0;
}

.left { float: left;}
.right { float: right;}
.hidden {display:none;}

div#pagecontent {
	position: relative;
	width: 1024px;
	max-width :100%;
	height: 600px;
	margin: 0 auto;
	padding: 0 5px;
	box-sizing: border-box;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #333;
}
.dimmed #pagecontent {opacity:0.5}
div.col {
	margin: 10px 0;
	padding: 0 5px;
	box-sizing: border-box;
}
div.width25 {width: 25%;}
div.width33 {width: 33.33333%;}
div.width50 {width: 50%;}
div.width66 {width: 66.66666%;}
div.width75 {width: 75%;}

div.col1 {
    background: #212121;
    margin: 0 0 0 -5px;
    height: 100vh;
}

div.col > div {
	border-radius: 3px;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}
h2 {
  color: #fff;
  font-weight: 100;
  text-align: center;
  margin: 0;
  font-size: 0.85rem;
  text-transform: uppercase;
  padding: 5px 0 0 0;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

div#timecontainer {
	height: 150px;
}
div#timecontainer h2 {
	color: #fff;
	font-size: 5.5rem;
	margin: 10px 0 0 0;
	padding: 0;
}
div#timecontainer p {
	text-align: center;
	color: #9e9e9e;
  font-size: 1.25rem;
	margin: -5px 0 25px 0;
}

#gcaldata  {
	margin: 10px auto 20px;
	height: 128px;
	width: 100%;
	background: transparent;
	padding: 10px;
	box-sizing: border-box;
}
#gcaldata h5 {
    margin: 5px auto;
    width: 100%;
    text-transform: uppercase;
}
#gcaldata li {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	margin: 7px 0;
	padding: 4px 10px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


div#newscontainer {
	background:transparent;
	height: 261px;
	overflow: hidden;
}
div#newscontainer ul {
	margin: 0;
	font-family: Georgia, serif;
}
div#newscontainer li {
	padding: 0px 10px 0.5rem 10px;
	line-height: 1rem;
	font-size: .875rem;
}
div#newscontainer li span {
  display: inline;
  background: rgba(255, 255, 0, 0.5);
  color: #000;
}

div#chartcontainer {
  height: 250px;
	position: relative;
	color: #fff;
}
#chart_temp,
#chart_press {opacity: .5;}
div#chartcontainer h3.temp {
  position: absolute;
  top: 30px;
  z-index: 0;
  left: 50%;
  font-size: 3.25rem;
  font-weight: 400;
  transform: translateX(-50%);
  margin: 0;
}
div#chartcontainer h3.press {
position: absolute;
top: 150px;
z-index: 0;
left: 50%;
font-size: 3.25rem;
font-weight: 400;
transform: translateX(-50%);
margin: 0;
}
div#chartcontainer h3.press small { font-size: 1.25rem; }
div#chartcontainer rect.highcharts-background { fill:transparent; }
div#chartcontainer .highcharts-axis-labels text,
div#chartcontainer .highcharts-axis text { fill: #bbb!important; color: #bbb!important; }
div#chartcontainer .highcharts-axis.highcharts-yaxis { display: none; }
div#chartcontainer .highcharts-grid path { stroke: rgba(158, 158, 158, 0.15); }
text.highcharts-credits {
    display: none;
}

div#weathercontainer {
	height: 170px;
  overflow: hidden;
  color: rgba(33, 33, 33, 0.75);
  position: relative;
}
div#weathercontainer h2 { color: rgb(33,33,33); }
div#weathercontainer .alerts {
  padding: 0 10px;
  margin: 0;
  font-size: 0.938rem;
  line-height: 0.938rem;
  height: calc(4 * 0.938rem);
  display: flex;
  align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
}
div#weathercontainer .alerts p { margin: 0; }
div#weathercontainer .alerts.level_1 { background-color: rgba(178, 255, 89, 0.85); }
div#weathercontainer .alerts.level_2 { background-color: rgba(255, 235, 59, 0.85); }
div#weathercontainer .alerts.level_3 { background-color: rgba(229, 28, 35, 0.85); }


.row.rowbottom {
    position: absolute;
    bottom: 0;
    left: 25%;
    height: 100px;
    width: 75%;
    background: rgba(33,33,33,.66);
}


div#forecastcontainer {
	color: rgb(255, 255, 255);
  text-shadow: 0px 0px 1px #000;
  position: absolute;
  bottom: 0;
  right: 0;
}
div#forecastcontainer div.forecast-12hrs {
	position: absolute;
	bottom: 0;
	border-left: 1px solid rgba(255, 255, 255, .33);
	padding-left: 15px;
	box-sizing: border-box;
}
div#forecastcontainer div.forecast-5day {
  border-left: 1px solid rgba(255, 255, 255, .33);
	box-sizing: border-box;
}
time {
	text-align: center;
	display: block;
	font-size: 3rem;
	line-height: 1.5rem;
	padding-bottom: 0px;
	margin-top: 10px;
}
time i { margin-left: 20px; }
time small {
	display: block;
	font-size: 1rem;
	text-transform: uppercase;
}
div#weathercontainer ul {
  font-size: 1rem;
  line-height: 2rem;
	margin: 0;
	display: inline-block;
}
div#forecastcontainer ul.forecast-hour {
    width: 20%;
    float: left;
		margin: 10px 0 15px 0;
}
div#weathercontainer ul li,
div#forecastcontainer ul li {
	padding: 0 10px;
	box-sizing: border-box;
}
div#weathercontainer ul li {
    width: auto;
    float: left;
}
div#forecastcontainer ul.forecast-hour li.text {
	text-align: center;
	width: 100%;
	padding: 0 2px;
	line-height: 17px;
}
div#forecastcontainer ul.forecast-hour li.text strong {
	font-weight: 400;
  display: block;
}
div#forecastcontainer ul.forecast-hour span {
	width: 100%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0;
	margin: 0;
	font-size: 11px;
}
div#forecastcontainer ul.forecast-day {
    width: 90%;
    clear: both;
    display: inline-block;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    margin: 0 5%;
}
div#forecastcontainer ul.forecast-day:last-child {
	border-bottom: 0;
}
div#forecastcontainer ul li.text {
	width: 80%;
	line-height: 26px;
}
div#forecastcontainer ul li.text span {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div#forecastcontainer ul li.icon {
	width: 20%;
	font-size: 2rem;
	line-height: 3rem;
	text-align: right;
	position: relative;
}
div#forecastcontainer ul li.icon small {
    position: absolute;
    bottom: -4px;
    right: 0;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
}

div#reload {
	position: absolute;
	top: -80px;
	right: -75px;
	width: 35px;
	height: 35px;
	padding: 100px;
	cursor: pointer;
}
div#reload > span {
	position: relative;
  padding: 100px;
}
div#reload.rotate {
	-webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
div#reload svg {
	fill: rgba(250, 250, 250, 0.33);
	position: absolute;
	top: 100px;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
